/* Calendar.css */
.calendar {
  width: 200px; /* 원하는 너비로 조정 */
  margin: 40px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.calendar-day {
  height: 35px; /* 원하는 높이로 조정 */
  width: 35px; /* 원하는 너비로 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
