@font-face {
  font-family: "Gothic-goding";
  src: url("/public/Gothic-goding.ttf");
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0 20px;
}

body * {
  font-family: "Gothic-goding";
}
